@charset "UTF-8";

Body {
    background-image: linear-gradient(990deg, rgb(26, 26, 26),rgb(0, 0, 0));
    color: rgb(255, 255, 255);
    
}

img{
    height: 8cm;
    width: 8cm;
    border-radius: 10cm;
    border-style: ridge;
    border-color: rgb(7, 169, 233);


}
.center {
    text-align: center;
}

ul{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    list-style-type: none;
}

h1{
    text-decoration: overline;
    text-align: center;

}

h2{
    color: rgb(224, 224, 224);
    text-align: center;
    font-size: 250%;
    box-shadow: 5px 5px 5px;
    background-color: rgb(6, 131, 240);
    
    
}

h3{
    color: aliceblue;
    font-size: x-large;
}

a{
   color: white;
}

p{
    font-family: sans-serif;
    text-transform: lowercase;
    font-size: x-large
}

a{
    text-decoration: none;
    list-style-type: none;
    
}

h4{
    font-size: x-large;
}

footer img{
    border-color: rgb(0, 0, 0);
    border-radius: 0cm;
    justify-content: center;
    height: 40px;
    width: 40px;
}

footer{
    display: flex;
    justify-content: center;
    padding: 50px;
    justify-content: space-evenly
}

h5{
    font-size: x-large;
}

nav a:hover{
    color: rgb(5, 206, 241);
}
